
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100;300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 200px;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  transition: 0.5s ease;
}
header .brand{
  color:#000;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color:#000;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;

}
header .navigation .navigation-items a:before{
  
  position: relative
  ;
  background-color: #000;
  width:100%;
  height:3px;
  bottom:0;
  left:0;
}

